data
insights
linkedin_data
Normalize_data
profiles_scraped
prototype
.env
cookies_worker_0.json
credentials.json
linkedin_scraper.log
linkedin_state.json
profiles.txt
tempmail.txt
test.ipynb
test.py
test.json
.venv
__pycache__
insights.ipynb
uv.lock
pyproject.toml
.vscode/
.python-version
merged_social_activity.json